@using ConsignaWeb.MVC.Models.Repository
@{
    Users user = ViewBag.User;
}
<div class="col-sm-4">
    <div class="well">
        @using (Html.BeginForm("EditPasswordAction", "Client", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label>Email</label><input type="text" placeholder="@user.Email" class="form-control" disabled /><label class="text-danger"> @ViewBag.EmailError</label><br />
            <label>Nova Senha</label><input type="password" class="form-control" name="Password1" /><label class="text-danger"> @ViewBag.PasswordError</label><br />
            <label>Confirmação de senha</label><input type="password" name="Password2" class="form-control" /><br />
            <label>Senha Atual</label><input type="password" class="form-control" name="pass" /><label class="text-danger">@ViewBag.NoSamePassword</label><br />
            <label class="text-success"><br />@ViewBag.Saved</label>
            <button class="btn btn-sm btn-primary" type="submit" style="float:right;">Atualizar</button><br />
        }
        <br />
    </div>
</div>
